{% extends 'base.html.twig' %}

{% block title %}Structure index{% endblock %}

{% block body %}
    <h1>Structure index</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Nom</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Type</th>
                <th>Dateupdate</th>
                <th>Datedelete</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for structure in structures %}
            <tr>
             
                <td>{{ structure.nom }}</td>
                <td>{{ structure.adresse }}</td>
                <td>{{ structure.telephone }}</td>
                <td>{{ structure.type }}</td>
                <td>{{ structure.dateupdate ? structure.dateupdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ structure.datedelete ? structure.datedelete|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_structure_show', {'id': structure.id}) }}">show</a>
                    <a href="{{ path('app_structure_edit', {'id': structure.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_structure_new') }}">Create new</a>
{% endblock %}
