{% extends 'base.html.twig' %}

{% block title %}Structure{% endblock %}

{% block body %}
    <h1>Structure</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ structure.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ structure.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ structure.adresse }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ structure.telephone }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ structure.type }}</td>
            </tr>
            <tr>
                <th>Dateupdate</th>
                <td>{{ structure.dateupdate ? structure.dateupdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Datedelete</th>
                <td>{{ structure.datedelete ? structure.datedelete|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_structure_index') }}">back to list</a>

    <a href="{{ path('app_structure_edit', {'id': structure.id}) }}">edit</a>

    {{ include('structure/_delete_form.html.twig') }}
{% endblock %}
